@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in-out {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}

.animate-fade-in-out {
  animation: fade-in-out 3s ease-in-out;
}

.toast-position {
  top: 8rem !important;
}
